# PostgreSQL Database Configuration
DATABASE_URL=postgresql://postgres:password@localhost:5432/vehicle_db

# SQLAlchemy Configuration
# Set to "True" to print all SQL queries (useful for debugging)
SQL_ECHO=False

# FastAPI Configuration
DEBUG=True

# Upload Configuration
UPLOAD_DIR=uploads
